@import '../../styles/variables.scss';
.orderbook {
    .header,
    .status {
        height: 40px;
        line-height: 40px;
    }
    .asks,
    .bids {
        min-height: 120px;
    }
    .ask,
    .bid {
        min-height: 24px;
    }
    .price {
        z-index: 1;
    }
    .price-bar {
        background-color: $light;
        background-position: 50% center;
        position: absolute;
        height: 16px;
        top: 2px;
        right: 0px;
    }
}
